@model List<Taller.Dtos.ShowAutoDto>

@{
    ViewBag.Title = "GetListAuto";
    int Index = 0, c = 0;
}


<div style="position:relative; top:50px;">
    @Html.ActionLink("Volver", "Home", "Home", null, new { @class = "btn btn-primary", @style = "display:inline;" })
</div>


<div style="width:100%; margin-top:20px;">

    <h2 style="text-align:center;">AUTO</h2>

</div>

<br />
<hr />

<table class="table">

    <thead>

        <tr>

            <td>@Html.Label("MARCA")</td>
            <td>@Html.Label("MODELO")</td>
            <td>@Html.Label("AÑO")</td>
            <td>@Html.Label("COLOR")</td>
            <td>@Html.Label("PLACA")</td>
            <td>@Html.Label("CLIENTE")</td>
            <td>@Html.Label("OPCIONES")</td>

        </tr>

    </thead>

    <tbody>


        @foreach (Taller.Dtos.ShowAutoDto auto in Model)
        {
            <tr>

                <td> @auto.Marca </td>
                <td> @auto.Modelo </td>
                <td> @auto.Años </td>
                <td> @auto.Color </td>
                <td> @auto.Placa </td>
                <td> @auto.Cliente_</td>
                <td>
                    <button type="button" class="btn btn-info btn-lg" id="@c" data-toggle="modal" data-target="#exampleModalLong"> Detalles de ordenes </button>
                    @Html.ActionLink("Editar", "UpdateAuto", null, new { @class = "btn btn-success btn-lg" })
                </td>

            </tr>

            c++;
        }

    </tbody>

</table>

@Html.Partial("Template/ParcialViewOrdenes", Model[0].Ordenes)
