
@{
    ViewBag.Title = "Home";
}

<h2>Bienvenido al Taller RRL</h2>
<hr />

<div style="width:100%; height:100%; display: inline-block; align-content:center;">

    @Html.Partial("OpcionesMenu", new Tuple<string, string, string>("VER LISTADO DE AUTO", "GetListAuto", "Auto"))

    @Html.Partial("OpcionesMenu", new Tuple<string, string, string>("VER LISTADO DE CIENTES", "GetListAuto", "Cliente"))

    @Html.Partial("OpcionesMenu", new Tuple<string, string, string>("VER LISTADO DE MECANICO", "GetListAuto", "Mecanico"))

    @Html.Partial("OpcionesMenu", new Tuple<string, string, string>("VER LAS ORDENES", "GetListAuto", "Orden"))

    @Html.Partial("OpcionesMenu", new Tuple<string, string, string>("VER LOS SERVICIOS", "GetListAuto", "Servicio"))

    @Html.Partial("OpcionesMenu", new Tuple<string, string, string>("VER LOS TIPOS DE MECANICO", "GetListAuto", "TipoMecanico"))

</div>